/CSV2Twine.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/CSV2Twine.xcodeproj/project.xcworkspace/xcuserdata/maddien.xcuserdatad/UserInterfaceState.xcuserstate
/CSV2Twine.xcodeproj/project.xcworkspace/xcuserdata/reichl.xcuserdatad/UserInterfaceState.xcuserstate
/CSV2Twine.xcodeproj/xcuserdata/maddien.xcuserdatad/xcschemes/CSV2Twine.xcscheme
/CSV2Twine.xcodeproj/xcuserdata/maddien.xcuserdatad/xcschemes/xcschememanagement.plist
/CSV2Twine.xcodeproj/xcuserdata/reichl.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
/CSV2Twine.xcodeproj/xcuserdata/reichl.xcuserdatad/xcschemes/CSV2Twine.xcscheme
/CSV2Twine.xcodeproj/xcuserdata/reichl.xcuserdatad/xcschemes/xcschememanagement.plist